
<div class="container" id="tarjeta">
    <div class="left-div" >
        <img src="assets/centroA.png">
    </div>
    <div class="right-div">
        <h1>¿Qué es un centro de acopio?</h1>
        <p>Es un sitio de almacenamiento temporal de residuos recuperables, donde son clasificados y separados de acuerdo a su naturaleza en plástico, cartón papel, vidrio y metales, para su pesaje, compactado, empaque, embalaje y posterior venta o disposición final correspondiente.</p>
    </div>
    
</div>






	
<div class="container" >
    <h1 class="text-center">Ubicación de los Centros de Acopio</h1>
<div class="row">

<!--team-1-->
<div class="col-lg-4">
<div class="our-team-main">

<div class="team-front">
    <div class="circle">
        <i class="fa fa-map-marker"></i>
    </div>
<h3>Sur</h3>
<p>Ver ubicación</p>
</div>

<div class="team-back">
<span>
     <p>Av. Raúl Clemente Huerta Mz. 38 Sl. 1.</p> 
    <a href="https://www.google.com/maps/place/AV.+RA%C3%9AL+CLEMENTE+HUERTA/@-2.2588404,-79.8900684,17z/data=!3m1!4b1!4m6!3m5!1s0x902d6f5dfbd49267:0x398d098ce9120aa0!8m2!3d-2.2588404!4d-79.8874935!16s%2Fg%2F11jjx902hr?entry=ttu" target="_blank">Ir al mapa</a>
</span>
</div>

</div>
</div>
<!--team-1-->

<!--team-2-->
<div class="col-lg-4">
<div class="our-team-main">

<div class="team-front">
    <div id="crc2" class="circle">
        <i class="fa fa-map-marker"></i>
    </div>
<h3>Isla Trinitaria</h3>
<p>Ver ubicación</p>
</div>

<div class="team-back">
<span>
<p>Isla Trinitaria</p>
<a href="https://www.google.com/maps/dir//Coop+Nueva+Ecuador+1,+Guayaquil/@-2.2431054,-79.9678921,13z/data=!4m8!4m7!1m0!1m5!1m1!1s0x902d71ff839c3ba7:0x1979b657f9434f10!2m2!1d-79.926662!2d-2.2429938?entry=ttu" target="_blank">Ir al mapa</a>
</span>
</div>

</div>
</div>
<!--team-2-->

<!--team-3-->
<div class="col-lg-4">
<div class="our-team-main">

<div class="team-front">
    <div id="crc3" class="circle">
        <i class="fa fa-map-marker"></i>
    </div>
<h3>Batallón del Suburbio</h3>
<p>Ver ubicación</p>
</div>

<div class="team-back">
<span>
<p>40 entre la l y la J.</p>
<a href="https://www.google.com/maps/dir//C.+40+S-O,+Guayaquil/@-2.2133095,-79.942956,16z/data=!4m8!4m7!1m0!1m5!1m1!1s0x902d71c55d73eb2b:0x3fa152536b79045b!2m2!1d-79.9378061!2d-2.2133095?entry=ttu"target="_blank">Ir al mapa</a>
</span>
</div>

</div>
</div>
<!--team-3-->

<!--team-4-->
<div class="col-lg-4">
<div class="our-team-main">

<div class="team-front">
    <div id="crc4" class="circle">
        <i class="fa fa-map-marker"></i>
    </div>
<h3>Bahia</h3>
<p>Ver ubicación</p>
</div>

<div class="team-back">
<span>
<p>Calixto Romero y Cacique Álvarez.</p>
<a href="https://www.google.com/maps/dir//Calixto+Romero+y+Cacique+%C3%81lvarez/@-2.1992598,-79.9271511,13z?entry=ttu">Ir al mapa</a>
</span>
</div>

</div>
</div>
<!--team-4-->

<!--team-5-->
<div class="col-lg-4">
<div class="our-team-main">

<div class="team-front">
    <div id="crc5" class="circle">
        <i class="fa fa-map-marker"></i>
    </div>
<h3>Hospital Universitario</h3>
<p>Ver ubicación</p>
</div>

<div class="team-back">
<span>
<p>Coop. Paraíso de la Flor Blq. 7 Mz. 339 Sl. 01.</p>
<a href="https://www.google.com/maps/dir//Hospital+Universitario,+V%C3%ADa+Perimetral,+Guayaquil/@-2.0980811,-79.9876398,13z/data=!4m8!4m7!1m0!1m5!1m1!1s0x902d0d3ebf810053:0xbd4969f669242fe!2m2!1d-79.9464399!2d-2.0980816?entry=ttu" target="_blank">Ir al mapa</a>
</span>
</div>

</div>
</div>
<!--team-5-->

<!--team-6-->
<div class="col-lg-4">
<div class="our-team-main">

<div class="team-front">
    <div id="crc6" class="circle">
        <i class="fa fa-map-marker"></i>
    </div>
<h3>Norte</h3>
<p>Ver ubicación</p>
</div>

<div class="team-back">
<span>
<p>Bastión Popular Blq. 5 Mz. 310</p>
<a href="https://www.google.com/maps/dir//Bloque+6,+Bastion+Popular,+Guayaquil/@-2.0860618,-79.9765597,13z/data=!4m8!4m7!1m0!1m5!1m1!1s0x902d0d6e9f74c6cb:0x4b7a597b7e0f3a58!2m2!1d-79.9353598!2d-2.0860623!5m1!1e1?entry=ttu" target="_blank">Ir al mapa</a>
</span>
</div>

</div>
</div>
<!--team-6-->

<!-- team 7 -->
<div class="col-lg-4">
    <div class="our-team-main">
    
    <div class="team-front">
        <div class="circle">
            <i class="fa fa-map-marker"></i>
        </div>
    <h3>Mucho Lote 2</h3>
    <p>Ver ubicación</p>
    </div>
    
    <div class="team-back">
    <span>
    <p>Macro Lote 1, ” Autopista Villa España 2″.</p>
    <a href="https://www.google.com/maps/dir//MUCHO+LOTE+1,+W3FH%2B3XF,+1+Cuarta+Etapa,+Guayaquil+090104/@-2.0773166,-79.9612878,13z/data=!3m1!4b1!4m8!4m7!1m0!1m5!1m1!1s0x902d0dd8fb3f9829:0xd082351b1455a50b!2m2!1d-79.9200879!2d-2.0773171!5m1!1e1?entry=ttu"target="_blank">Ir al mapa</a>
    </span>
    </div>
    
    </div>
    </div>
    <!-- fin team 7 -->

    <!-- team 8 -->
<div class="col-lg-4">
    <div class="our-team-main">
    
    <div class="team-front">
        <div id="crc2" class="circle">
            <i class="fa fa-map-marker"></i>
        </div>
    <h3>Mapasingue</h3>
    <p>Ver ubicación</p>
    </div>
    
    <div class="team-back">
    <span>
    <p>Coop. Mapasingue Oeste Mz. 13C Sl. 11.</p>
    <a href="https://www.google.com/maps/dir//Coop.+Mapasingue+Oeste+/@-2.1534864,-79.9684062,13z?entry=ttu">Ir al mapa</a>
    </span>
    </div>
    </div>
    </div>
    <!-- fin team 8 -->


    <!-- team 9 -->
<div class="col-lg-4">
    <div class="our-team-main">
    
    <div class="team-front">
        <div id="crc3" class="circle">
            <i class="fa fa-map-marker"></i>
        </div>
    <h3>La Playita</h3>
    <p>Ver ubicación</p>
    </div>
    
    <div class="team-back">
    <span>
    <p>Guasmo Sur, Pre cooperativa San Filipo 11° Paseo 58 SE y Av 12. SE.</p>
    <a href="https://www.google.com/maps/dir//GUASMO+SUR,+Calle+Guasmo+Sur,+Guayaquil/@-2.2845675,-79.9259394,13z/data=!4m8!4m7!1m0!1m5!1m1!1s0x902d65b7b9f3d529:0xd828d999127aadeb!2m2!1d-79.8847395!2d-2.2845681?entry=ttu"target="_blank">Ir al mapa</a>
    </span>
    </div>
    </div>
    </div>
    <!-- fin team 9-->

       <!-- team 10 -->
<div class="col-lg-4">
    <div class="our-team-main">
    
    <div class="team-front">
        <div id="crc4" class="circle">
            <i class="fa fa-map-marker"></i>
        </div>
    <h3>Bastión</h3>
    <p>Ver ubicación</p>
    </div>
    
    <div class="team-back">
    <span>
    <p>Bastión Popular Blq. 10c Mz. 1248 Sl. 1.</p>
    <a href="https://www.google.com/maps/dir//Bastion+Popular,+Guayaquil/@-2.084483,-79.9721718,13z/data=!4m8!4m7!1m0!1m5!1m1!1s0x902d0d6f932cf9a5:0xa2f59f6acd5e4978!2m2!1d-79.9309719!2d-2.0844835?entry=ttu"target="_blank">Ir al mapa</a>
    </span>
    </div>
    </div>
    </div>
    <!-- fin team 10-->

     <!-- team 11 -->
<div class="col-lg-4">
    <div class="our-team-main">
    
    <div class="team-front">
        <div id="crc4" class="circle">
            <i class="fa fa-map-marker"></i>
        </div>
    <h3>Ecuasal</h3>
    <p>Ver ubicación</p>
    </div>
    
    <div class="team-back">
    <span>
    <p>Mz. 73 Sl. 1.</p>
    <a href="https://www.google.com/maps/dir//Mz.+73+Sl.+1/@-2.1271133,-80.0072973,12z/data=!3m1!4b1?entry=ttu">Ir al mapa</a>
    </span>
    </div>
    </div>
    </div>
    <!-- fin team 11-->

     <!-- team 12 -->
<div class="col-lg-4">
    <div class="our-team-main">
    
    <div class="team-front">
        <div id="crc4" class="circle">
            <i class="fa fa-map-marker"></i>
        </div>
    <h3>Tenguel</h3>
    <p>Ver ubicación</p>
    </div>
    
    <div class="team-back">
    <span>
    <p>Parroquia Rural Tenguel, Coop. 7 de Septiembre.</p>
    <a href="https://www.google.com/maps/dir//Tenguel,+Guayaquil/@-2.9950852,-79.8281799,13z/data=!3m1!4b1!4m8!4m7!1m0!1m5!1m1!1s0x9032e11dd002e559:0xe4e902b266a26746!2m2!1d-79.78698!2d-2.995086?entry=ttu"target="_blank">Ir al mapa</a>
    </span>
    </div>
    </div>
    </div>
    <!-- fin team 12-->



</div>
</div>

