
<h1> Consejos Sustentables</h1>

<div class="container">
<div class="top">
</div>

<div class="center">
    <img src="/assets/gye2.jpg">
</div>
<div class="texto">
    <p>Guayaquil también es tu ciudad, aprende a cuidarla y a cuidar el medio ambiente, con el pasar del tiempo tu familia y generación lo agradecerán</p>
    <p>A continuación, te presento algunos consejos sustentables que te recomendamos seguir para cuidar el medio ambiente</p>
</div>

<!-- consejos -->

<!-- consejo1 -->
<div class="content" id="tarjeta">
    <div class="left-div" >
        <img src="assets/botellas.jpg">
    </div>
    <div class="right-div">
        <h1>1</h1>
        <p>Usa botellas de agua de aluminio o plástico recargables para evitar la regeneración de residuos
            para hacer tus compras.
        </p>
    </div>
    
</div>
<!-- fin de consejo1 -->


<!-- consejo2 -->
<div class="content" id="tarjeta">
    <div class="left-div" >
        <h1>2</h1>
        <p> Procura separar los residuos reciclables.El vidrio, el plástico, o el metal para que estos material se puedan volver a utilizar.
        </p>
        
    </div>
    <div class="right-div">
        <img src="assets/r3.jpg">
    </div>
    
</div>
<!-- fin de consejo2 -->

<!-- consejo3 -->
<div class="content" id="tarjeta">
    <div class="left-div" >
        <img src="assets/luces.jpg">
    </div>
    <div class="right-div">
        <h1>3</h1>
        <p>Apaga las luces de las habitaciones que no ocupes y aprovecha la luz natural.
        </p>
    </div>
    
</div>
<!-- fin de consejo3 -->

<!-- consejo4 -->
<div class="content" id="tarjeta">
    <div class="left-div" >
        <h1>4</h1>
        <p> Desconecta los aparatos que no utilices y usa focos ahorradores
        </p>
        
    </div>
    <div class="right-div">
        <img src="assets/cortar.jpg">
    </div>
    
</div>
<!-- fin de consejo4 -->

<!-- consejo5 -->
<div class="content" id="tarjeta">
    <div class="left-div" >
        <img src="assets/detergente.jpg">
    </div>
    <div class="right-div">
        <h1>5</h1>
        <p>utiliza detergentes biodegradables para la limpieza general de la casa,trates y ropa
        </p>
    </div>
    
</div>
<!-- fin de consejo5 -->

<!-- consejo6 -->
<div class="content" id="tarjeta">
    <div class="left-div" >
        <h1>6</h1>
        <p> Elige productos libres de plástico
        </p>
        
    </div>
    <div class="right-div">
        <img src="assets/plastico.jpg">
    </div>
    
</div>
<!-- fin de consejo6 -->



</div>



